.catalog {
  > svg {
    font-size: 15px;
  }

  .bg {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: $mask-bg;
    z-index: 30;
  }

  .catelist {
    position: relative;
    padding: 4px 0;
    margin-top: 50px;
    z-index: 40;
    transition: margin-top 0.3s;
    -webkit-tap-highlight-color: transparent;

    &::before {
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      left: 0px;
      @include themeify {
        border-left: 1px solid themed('border-color');
      }
    }

    .close {
      display: none;
      width: 30px;
      height: 100px;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -50px;
      margin-left: -30px;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      z-index: 20;
      cursor: pointer;
      @include themeify {
        color: themed('base-color');
        background: themed('bg-color-heavy');
      }

      &:hover,
      &:active {
        @include themeify {
          background: themed('bg-color');
        }
      }
    }

    .head {
      padding: 4px 16px;
      margin-bottom: 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @include themeify {
        color: themed('gray-color');
      }
    }

    .desc {
      padding: 4px 10px;
      @include themeify {
        color: themed('desc-color');
      }
    }

    .cate-content {
      width: 100%;
      height: calc(100% - 36px);
      top: 40px;
      overflow-x: hidden;
      overflow-y: auto;
      z-index: 10;
      @include themeify {
        color: themed('base-color');
      }

      ul {
        padding-left: 20px;
        padding-right: 0;
        padding-left: 0;

        &.header-2 {
          margin: 0;
          margin-bottom: 6px;

          > .cate-item {
            font-weight: bold;
          }
        }

        &.header-3 {
          > .cate-item {
            padding-left: 32px;
          }
        }

        &.header-4 {
          > .cate-item {
            padding-left: 48px;
          }
        }
      }

      .cate-item {
        position: relative;
        margin-bottom: 1px;
        padding: 4px 10px;
        padding-left: 16px;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: none;

        &:hover {
          @include themeify {
            background: themed('border-color');
          }

          &::before {
            content: '';
            height: 100%;
            position: absolute;
            top: 0;
            left: 0px;
            border-left: 1px solid;
            @include themeify {
              border-color: themed('primary-color');
            }
          }
        }

        &:active {
          @include themeify {
            color: themed('primary-color');
            background: themed('border-color');
          }
        }
      }

      .active {
        @include themeify {
          color: themed('primary-color');
          background: themed('border-color');
        }

        &::before {
          content: '';
          height: 100%;
          position: absolute;
          top: 0;
          left: 0px;
          border-left: 1px solid;
          @include themeify {
            border-color: themed('primary-color');
          }
        }
      }
    }
  }

  .cate-show {
    transform: translateX(0) !important;
    right: 0;
  }
}

@media screen and (min-width: 980px) {
  .catalog {
    .bg {
      display: none !important;
    }

    .catelist {
      width: 252px;
      margin-bottom: 10px;
      box-shadow: none;
      overflow: hidden;

      .cate-content {
        width: calc(100% + 20px);
        max-height: calc(100vh - 226px);
      }
    }

    .cate-show {
      transform: translateX(0%) !important;
    }

    :global {
      .fa-list-ul {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 979px) {
  .catalog {
    margin-top: 8px;

    .catelist {
      height: 100vh;
      width: max-content;
      max-width: 80vw;
      position: absolute;
      top: 0;
      right: 0;
      margin-top: -8px;
      margin-right: -12px;
      padding: 10px 0;
      border-radius: 0;
      border: transparent;
      transition: 0.3s;
      transform: translateX(100%);
      @include themeify {
        background: themed('bg-color-light');
      }

      .cate-content {
        padding: 8px;
      }

      .close {
        display: flex;
      }
    }

    :global {
      .fa-list-ul {
        display: block;
      }
    }
  }
}
