.note-detail {
  height: 100%;
  overflow: auto;
  .title {
    margin: 0;
    padding: 10px 4px;
    border-bottom: 1px solid #eee;
    background: #fafafa;
  }
  .edit {
    position: fixed;
    bottom: 50px;
    right: 10px;
  }
}