.note-detail {
  height: 100%;
  position: relative;
  padding-top: 50px;
  overflow-x: hidden;

  .article-404 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    color: #999;
  }
}

.header {
  .title {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  :global {
    .center-content {
      display: flex;
      align-items: center;
    }
  }

  .back {
    padding: 0 4px;
    cursor: pointer;
  }
}
