.weekday {
  display: flex;
  justify-content: flex-start;
}
.weekday>div {
  flex: 1;
  text-align: center;
}
.week-item {
  display: flex;
  justify-content: flex-start;
}
.date-item {
  flex: 1;
  text-align: center;
}