$theme-color: #5098e4;
$theme-color-light: #82bbf7;
$theme-color-heavy: #00438a;

$font-color-light: #ccc;
$font-color-dark: #2b2b2b;

$grey-color-light: #cccccc;
$grey-color-dark: #464444;

$bg-light: #fefefe;
$bg-dark: #272727;
$bg-dark-light: #3a3a3a;
$bg-dark-heavy: #181818;
