$mask-bg: rgba(50, 50, 50, 0.6);
$box-shadow: 0px 1px 1px -2px rgba(0, 0, 0, 0.8);

$light: (
  base-color: #3e3e3e,
  desc-color: #666,
  second-color: #999,
  primary-color: #5098e4,
  primary-color-light: #82bbf7,
  primary-color-heavy: #00438a,
  gray-color: #cccccc,
  border-color: #e9e9e9,
  bg-color: #fefefe,
  bg-color-light: #f6f6f6,
  bg-color-heavy: #f1f1f1
);

$dark: (
  base-color: #ccc,
  desc-color: #666,
  second-color: #999,
  primary-color: #5098e4,
  primary-color-light: #82bbf7,
  primary-color-heavy: #00438a,
  gray-color: #464444,
  border-color: #2e2e2e,
  bg-color: #232426,
  bg-color-light: #292b2d,
  bg-color-heavy: #1e1f21
);

$themes: (
  light: $light,
  dark: $dark
);

@mixin themeify {
  @each $theme-name, $theme-map in $themes {
    $theme-map: $theme-map !global;
    html[data-theme='#{$theme-name}'] & {
      @content;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
