$light: (
  desc-color: #666,
  base-color: #3e3e3e,
  primary-color: #5098e4,
  primary-color-light: #82bbf7,
  primary-color-heavy: #00438a,
  gray-color: #cccccc,
  border-color: #eee,
  bg-color: #fefefe,
  bg-color-light: #f6f6f6,
  bg-color-heavy: #f1f1f1
);

$dark: (
  desc-color: #666,
  base-color: #ccc,
  primary-color: #5098e4,
  primary-color-light: #82bbf7,
  primary-color-heavy: #00438a,
  gray-color: #464444,
  border-color: #464444,
  bg-color: #272727,
  bg-color-light: #3a3a3a,
  bg-color-heavy: #181818
);

$themes: (
  light: $light,
  dark: $dark
);

@mixin themeify {
  @each $theme-name, $theme-map in $themes {
    $theme-map: $theme-map !global;
    html[data-theme='#{$theme-name}'] & {
      @content;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
