$padding-edge: 16px;

.md-container {
  .md-content {
    position: relative;
    padding: 10px 16px;
    background-size: 22.1px 20px;
    background-position: center 0;
    @include themeify {
      color: themed('base-color');
      background-color: themed('bg-color');
      background-image: linear-gradient(
          90deg,
          themed('border-color') 1%,
          rgba(0, 0, 0, 0) 3%
        ),
        linear-gradient(360deg, themed('border-color') 3%, rgba(0, 0, 0, 0) 3%);
    }

    &::before {
      content: attr(data-text);
      position: absolute;
      top: 2px;
      left: 10px;
      color: #ccc;
      font-size: 12px;
      @include themeify {
        color: themed('gray-color');
      }
    }

    h2,
    h3,
    h4 {
      span {
        position: relative;
        z-index: 1;
        &::before {
          content: '';
          width: 100%;
          height: 8px;
          position: absolute;
          left: 0;
          bottom: 0;
          opacity: 0.6;
          z-index: -1;
          @include themeify {
            background: themed('primary-color');
          }
        }
      }
    }

    h3,
    h4 {
      span {
        &::before {
          height: 6px;
          opacity: 0.3;
        }
      }
    }

    p {
      word-break: break-word;
    }

    img {
      &:hover {
        cursor: zoom-in;
      }
    }

    // 代码段
    li > code,
    p > code {
      padding: 0 2px;
      word-break: break-word;
      font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New,
        monospace;
      @include themeify {
        color: themed('primary-color');
        background: themed('bg-color-light');
      }
    }

    pre {
      position: relative;
      line-height: 0;
      transform: translatez(0);
      overflow: hidden;
      z-index: 0;
      box-shadow: 0 0 4px rgba(100, 100, 100, 0.4);
      @include themeify {
        color: themed('base-color');
      }

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.6;
        z-index: -1;
        @include themeify {
          background-color: themed('bg-color-heavy');
        }
      }

      :global {
        // 语言
        .languange {
          display: flex;
          justify-content: space-between;
          position: relative;
          margin: 0;
          padding: 0 $padding-edge;
          text-align: left;
          font-size: 90%;
          box-sizing: border-box;
          line-height: 0;
          @include themeify {
            color: themed('gray-color');
            background-color: themed('bg-color-heavy');
          }

          .copy-code {
            display: inline-flex;
            padding: 4px 0;

            &:hover {
              cursor: pointer;
              @include themeify {
                color: themed('primary-color');
              }

              & > span {
                display: inline-block;
              }
            }

            & > span {
              display: none;
              margin-right: 4px;
              line-height: 1;
            }
          }
        }

        .code-wrapper {
          width: 100%;
          position: relative;
          margin: 0;
          display: block;
          padding: 16px $padding-edge;
          overflow-x: auto;

          code {
            font-size: 94%;
            font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New,
              monospace;
            background: transparent;

            .hljs-comment {
              @include themeify {
                color: themed('gray-color');
              }
            }
          }
        }
      }
    }

    p > img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 600px;
      display: inherit;
      margin: auto;
      margin-top: 10px;
      box-shadow: 0 0 10px rgba(100, 100, 100, 0.1);
    }

    blockquote {
      width: 100%;
      position: relative;
      display: inline-block;
      padding: 0 $padding-edge;
      margin: 4px 0;
      border-left: 4px solid #cbcbcb;
      z-index: 1;
      @include themeify {
        color: themed('desc-color');
        border-color: themed('primary-color-light');
      }

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        @include themeify {
          opacity: 0.1;
          background: themed('primary-color-light');
        }
      }
    }

    table {
      margin: 10px 0;
      border-collapse: collapse;

      thead {
        @include themeify {
          background: themed('bg-color-heavy');
        }
      }

      td,
      th {
        padding: 2px 4px;
        border: 1px solid #ccc;
        @include themeify {
          border-color: themed('border-color');
        }
      }
    }

    :global {
      .link {
        position: relative;
        padding-right: 12px;
        svg {
          position: absolute;
          right: 0;
          font-size: 10px;
          vertical-align: super;
        }
      }
    }
  }
}

// 详情的样式
.md-detail {
  width: 100%;
  min-height: 100%;

  .md-content {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

// 预览的样式
.md-preview {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 85%;
  transform: translate3d(0, 0, 0);
  will-change: contents;
  z-index: 999;

  .drag {
    width: 36px;
    height: 36px;
    position: relative;
    left: 50%;
    margin-left: -18px;
    border-radius: 50%;
  }

  .md-content {
    width: 60vmin;
    height: 60vh;
    margin: 5px 0;
    border-radius: 4px;
    box-shadow: -1px 1px 4px rgba(150, 150, 150, 0.6);
    overflow: auto;
  }

  :global {
    .change-size {
      padding: 0 8px;
      position: absolute;
      margin-left: -14px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      &::before {
        content: '';
        width: 3px;
        height: 40px;
        display: block;
        background: #999;
        box-shadow: 0 0 2px rgba(250, 250, 250, 0.8);
      }
    }

    .change-size-bottom {
      margin-left: 0;
      margin-top: -9px;
      top: calc(100% - 30px);
      left: 50%;
      padding: 8px 0;
      transform: translateX(-50%);

      &::before {
        width: 40px;
        height: 3px;
      }
    }
  }
}

@media screen and (min-width: 980px) {
  :global {
    .title {
      width: 680px;
    }
  }
}

@media screen and (max-width: 979px) {
  .md-detail {
    max-width: 979px;
  }

  .md-container {
    .md-content {
      padding: 10px 0;

      > p,
      > h1,
      > h2,
      > h3,
      > h4,
      > h5 {
        padding: 0 $padding-edge;
      }
    }
  }
}
