.home-tools {
  position: relative;
  display: inline-block;

  .setting {
    padding: 0 4px;
    font-size: 16px;
    cursor: pointer;
  }

  :global {
    .svg-inline--fa {
      padding: 0 4px;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

.wrapper {
  .content {
    .item {
      padding: 8px 0;
      text-align: center;
      border-bottom: 1px solid #eee;
      cursor: pointer;
      @include themeify {
        border-color: themed('border-color');
      }

      &:hover,
      &:active {
        @include themeify {
          color: themed('primary-color');
        }
      }
    }
  }

  .show {
    display: block;
  }
}

@media screen and (min-width: 980px) {
  .home-tools {
    .wrapper {
      width: 980px;
    }
  }
}
