.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 12px;
  border-bottom: 1px solid;
  white-space: nowrap;
  z-index: 20;
  @include themeify {
    color: themed('base-color');
    border-color: themed('border-color');
    background-color: themed('bg-color');
  }
}

.visible {
  visibility: visible;
  transform: translateY(-100%);
  animation: show 0.5s forwards;

  @keyframes show {
    from {
      transform: translateY(-100%) translateZ(0);
    }
    to {
      transform: translateY(0) translateZ(0);
    }
  }
}

.hidden {
  visibility: hidden;
}
