.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0 12px;
  border-bottom: 1px solid;
  white-space: nowrap;
  box-shadow: 0 2px 10px -4px rgba(100, 100, 100, 0.1);
  z-index: 20;
  color: var(--baseColor);
  border-color: var(--borderColor);
  background-color: var(--bgColor);

  .content {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .title {
    padding: 18px 0;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .tools {
    max-width: 40%;
    position: relative;
    padding: 18px 0;
    overflow-x: auto;

    &::after {
      content: '';
      width: 30px;
      height: 100%;
      position: fixed;
      top: 0;
      right: 12px;
      pointer-events: none;
      background-image: var(--linearBackground-90);
    }
  }
}

.visible {
  opacity: 1;
  transform: translateY(-100px);
  animation: show 0.5s forwards;

  @keyframes show {
    from { transform: translateY(-100px); }
    to { transform: translateY(0); }
  }
}

.hidden {
  opacity: 0;
  transform: translateY(-100px);
}

@media screen and (max-width: 979px) {
  .header {
    .title,
    .tools {
      padding: 16px 0;
    }

    .title {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 980px) {
  .header {
    .title {
      font-size: 18px;
    }
  }
}
