.md-toolbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 10px;
  font-weight: bold;
  border-top: 1px solid #eee;
  user-select: none;
  white-space: nowrap;
  overflow-x: auto;
  z-index: 10;
  @include themeify {
    color: themed('base-color');
    border-color: themed('border-color');
    background-color: themed('bg-color');
  }

  .tool-item {
    position: relative;
    display: inline-block;
    padding: 12px 10px;
    &:not(:last-of-type) {
      margin-right: 10px;
    }
    &:hover {
      cursor: pointer;
      @include themeify {
        color: themed('primary-color');
      }
    }
    &:active {
      @include themeify {
        color: themed('primary-color');
      }
      &::before {
        content: attr(title);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto 0;
        font-size: 12px;
        text-align: center;
        @include themeify {
          color: themed('gray-color');
        }
      }
    }
  }

  .codebg {
    padding: 0 4px;
    border-radius: 2px;
    @include themeify {
      background-color: themed('bg-color-heavy');
    }
  }
}
