.export {
  .export-canvas {
    display: none;
    padding: 12px 6px;
    border-radius: 2px;
    color: #abb2bf;
    background: #282c34;
  }
  .img {
    display: none;
  }
  .export-btn {
    position: fixed;
    bottom: 50px;
    left: 10px;
  }
  .export-png {
    bottom: 88px;
  }
}
