.export {
  position: relative;

  .tools {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    white-space: nowrap;
  }

  .export-a {
    display: none;
  }

  :global {
    .btn {
      width: 100%;
      margin-bottom: 10px;
    }

    .link {
      width: 100%;
    }
  }
}

.tools {
  :global {
    .btn {
      width: 100%;
      margin-bottom: 10px;
    }

    .link {
      width: 100%;
    }
  }
}

@media screen and (min-width: 1100px) {
  .export {
    .toggle {
      display: none;
    }

    .tools {
      flex-direction: row-reverse;
      left: 0;
      top: 0;

      :global {
        .btn {
          display: block;
          margin-right: 10px;
        }

        .link {
          margin-right: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 1099px) {
  .export {
    position: absolute;
    top: 0;
    right: 45px;
    z-index: 20;

    .tools {
      top: 100%;
      right: 0;
    }
  }
}
