.right-panel {
  margin-top: 58px;
  transition: margin-top 0.5s;

  .single-spa-clock {
    height: 200px;
    width: 100%;
    position: relative;
    margin-bottom: 10px;

    &::before {
      content: '';
      height: 180px;
      width: 180px;
      display: block;
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      margin: auto;
      border-radius: 50%;
      background-position: 10px 10px;
      background-size: 100%;
      @include themeify {
        background-color: themed('bg-color-light');
      }
    }

    :global {
      #clock {
        .canvas-clock {
          position: relative;
          padding: 0;
        }
      }
    }
  }

  .single-spa-calendar {
    width: 250px;
    min-height: 358px;
    margin-bottom: 20px;
    @include themeify {
      background: themed('bg-color');
    }

    :global {
      .calendar {
        @include themeify {
          color: themed('base-color');
          background: themed('bg-color');
        }

        .body {
          &::before {
            @include themeify {
              color: themed('border-color');
            }
          }

          .week-day {
            .active {
              @include themeify {
                color: themed('primary-color');
              }
            }
          }

          .week {
            .item {
              &:hover {
                &:after {
                  @include themeify {
                    border-color: themed('primary-color');
                  }
                }
              }

              &.active {
                &:after {
                  @include themeify {
                    border-color: themed('primary-color');
                    background: themed('primary-color');
                    box-shadow: 2px 2px 10px -2px themed('primary-color');
                  }
                }
              }
            }

            .same-date {
              &:after {
                @include themeify {
                  border-color: themed('primary-color');
                }
              }
            }
          }

          .another-month-date {
            @include themeify {
              color: themed('gray-color');
            }
          }
        }

        .from-today {
          @include themeify {
            color: themed('gray-color');
          }
        }

        .select-year-month {
          .content {
            @include themeify {
              color: themed('base-color');
              background: themed('bg-color');
            }

            .up {
              @include themeify {
                background: themed('linear-background-0');
              }
            }

            .down {
              @include themeify {
                background: themed('linear-background-180');
              }
            }

            .active {
              @include themeify {
                background: themed('primary-color');
              }
            }
          }
        }
      }
    }
  }

  .tags {
    width: 250px;
    display: block;
    margin-bottom: 20px;

    > span {
      @include themeify {
        color: themed('desc-color');
      }
    }

    .tag {
      display: inline-flex;
      align-items: center;
      margin-right: 10px;
      word-break: break-word;
      cursor: pointer;
      @include themeify {
        color: themed('gray-color');
      }

      &:hover {
        @include themeify {
          color: themed('primary-color');
        }
        .count {
          @include themeify {
            color: themed('border-color');
            background-color: themed('primary-color');
          }
        }
      }

      &.active {
        @include themeify {
          color: themed('primary-color');
        }

        .count {
          @include themeify {
            color: themed('border-color');
            background-color: themed('primary-color');
          }
        }
      }

      .count {
        display: inline-block;
        margin-left: 2px;
        padding: 0 4px;
        line-height: 1;
        border-radius: 4px;
        font-size: 12px;
        transition: none;

        @include themeify {
          color: themed('gray-color');
          background-color: themed('border-color');
        }
      }
    }
  }
}

.footer {
  margin-bottom: 20px;
  @include themeify {
    color: themed('gray-color');
  }

  a {
    text-decoration: none;
    font-size: 14px;
    @include themeify {
      color: themed('gray-color');
    }

    &:hover {
      @include themeify {
        color: themed('primary-color');
      }
    }
  }
}

@media screen and (max-width: 979px) {
  .right-panel {
    visibility: hidden;
  }
}
