.right-panel {
  height: 100%;
  width: 250px;
  margin-top: 58px;
  transition: margin-top 0.5s;
  overflow: hidden;

  .wrapper {
    height: 100%;
    width: calc(100% + 8px);
    overflow-y: auto;
  }

  .single-spa-clock {
    height: 200px;
    width: 100%;
    position: relative;
    margin-bottom: 10px;

    &::before {
      content: '';
      height: 180px;
      width: 180px;
      display: block;
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      margin: auto;
      border-radius: 50%;
      background-position: 10px 10px;
      background-size: 100%;
      background-color: var(--bgColorO8);
    }

    :global {
      #clock {
        .canvas-clock {
          position: relative;
          padding: 0;
        }
      }
    }
  }

  .single-spa-calendar {
    width: 250px;
    min-height: 358px;
    margin-bottom: 20px;
    background-color: var(--bgColorO8);

    :global {
      .calendar {
        color: var(--baseColor);
        background-color: var(--bgColorO8);

        .body {
          &::before {
            color: var(--borderColor);
          }

          .week-day {
            .active {
              color: var(--primaryColor);
            }
          }

          .week {
            .item {
              &:hover {
                &:after {
                  border-color: var(--primaryColor);
                }
              }

              &.active {
                &:after {
                  border-color: var(--primaryColor);
                  background-color: var(--primaryColor);
                  box-shadow: 2px 2px 10px -2px var(--primaryColor);
                }
              }
            }

            .same-date {
              &:after {
                border-color: var(--primaryColor);
              }
            }
          }

          .another-month-date {
            color: var(--grayColor);
          }
        }

        .from-today {
          color: var(--grayColor);
        }

        .select-year-month {
          .content {
            color: var(--baseColor);
            background-color: var(--bgColor);

            .up {
              background-color: var(--linearBackground-0);
            }

            .down {
              background-color: var(--linearBackground-100);
            }

            .active {
              background-color: var(--primaryColor);
            }
          }
        }
      }
    }
  }
}

.footer {
  margin-bottom: 20px;
  color: var(--grayColor);

  a {
    text-decoration: none;
    font-size: 14px;
    color: var(--grayColor);

    &:hover {
      color: var(--primaryColor);
    }
  }
}

@media screen and (max-width: 979px) {
  .right-panel {
    visibility: hidden;
  }
}
