html[data-theme='dark'] {
  color: #ccc;
  background: #232426;
}
html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  @include themeify {
    color: themed('base-color');
    background: themed('bg-color');
  }
}
* {
  line-height: 1.4;
  box-sizing: border-box;
  transition: color, background 0.3s;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  padding-top: 10px;
  font-size: 1.3rem;
}
h3 {
  padding-top: 10px;
  font-size: 1.1rem;
}
ul,
ol {
  padding-left: 36px;
  padding-right: 16px;
}
a {
  @include themeify {
    color: themed('primary-color');
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 15px;
  }

  body {
    font-size: 1rem;
  }
}

@media screen and (min-width: 980px) {
  :global {
    .container {
      max-width: 710px;
    }
  }
}

:global {
  #md-note {
    @include themeify {
      color: themed('base-color');
      background: themed('bg-color-heavy');
    }
  }

  .blur {
    filter: blur(2px);
  }

  .link {
    text-decoration: none;
    @include themeify {
      color: themed('base-color');
    }
  }

  .gitter {
    float: right;

    &::after {
      content: '';
      display: block;
      opacity: 0;
      visibility: hidden;
      clear: both;
    }
  }

  .btn {
    padding: 4px 10px;
    user-select: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: $box-shadow;
    @include themeify {
      color: themed('base-color');
      border-color: themed('border-color');
      background: themed('bg-color');
    }

    &:hover {
      box-shadow: 0px 1px 8px 0px rgba(181, 181, 181, 0.3);
    }
    &:active {
      outline: none;
      @include themeify {
        background: themed('bg-color-light');
      }
    }
    &:focus {
      outline: none;
    }
  }

  .svg-inline--fa {
    box-sizing: content-box;
  }

  .border-1px-bottom {
    position: relative;
    &::after {
      content: '';
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: scale(1, 0.5);
      @include themeify {
        background: themed('gray-color');
      }
    }
  }

  .center-content {
    max-width: 980px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
