html[data-theme='dark'] {
  color: #ccc;
  background-color: #232426;
}
html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  @include themeify {
    color: themed('base-color');
    background-color: themed('bg-color');
  }
}
* {
  line-height: 1.4;
  box-sizing: border-box;
  transition: color, background 0.3s;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  padding-top: 10px;
  font-size: 1.3rem;
}
h3 {
  padding-top: 10px;
  font-size: 1.1rem;
}
h4 {
  padding-top: 10px;
}
ul,
ol {
  padding-left: 36px;
  padding-right: 16px;
}
a {
  text-decoration: none;
  @include themeify {
    color: themed('primary-color');
  }
}

::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 6px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #535353;
}
::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #ededed;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 15px;
  }

  body {
    font-size: 1rem;
  }
}

@media screen and (max-width: 979px) {
  :global {
    #md-note {
      &::before {
        background-position: 100% 100%;
        background-size: auto 120%;
      }
    }

    .center-content {
      padding-top: 52px;
    }
  }
}

@media screen and (min-width: 980px) and (max-width: 1399px) {
  :global {
    .center-content {
      max-width: 980px;
      padding-top: 62px;
    }

    .container {
      max-width: calc(100% - 266px); // 250+16
    }
  }
}

@media screen and (min-width: 1400px) {
  :global {
    .center-content {
      max-width: 1200px;
      padding-top: 62px;
    }

    .container {
      max-width: calc(100% - 266px); // 250+16
    }
  }
}

:global {
  #md-note {
    min-height: 100vh;
    z-index: 1;
    @include themeify {
      color: themed('base-color');
      background-color: themed('bg-color-light');
    }
  }

  .link {
    @include themeify {
      color: themed('primary-color');
    }
  }

  .blur {
    filter: blur(2px);
  }

  .btn {
    padding: 4px 10px;
    user-select: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: $box-shadow;
    @include themeify {
      color: themed('base-color');
      border-color: themed('border-color');
      background-color: themed('bg-color');
    }

    &:hover {
      box-shadow: 0px 1px 8px 0px rgba(181, 181, 181, 0.3);
    }
    &:active {
      outline: none;
      @include themeify {
        background-color: themed('bg-color-light');
      }
    }
    &:focus {
      outline: none;
    }
  }

  .svg-inline--fa {
    box-sizing: content-box;
  }

  .border-1px-bottom {
    position: relative;
    &::after {
      content: '';
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: scale(1, 0.5);
      @include themeify {
        background-color: themed('gray-color');
      }
    }
  }

  .center-content {
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: show 0.2s ease-in-out;
  }
}

@keyframes :global(show) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
